.container {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;

.header {
    width: 100%;
    height: 50px;
    background: grey;
}

.footer {
    width: 100%;
    height: 100px;
    background: blue;
    clear: both;
}

.content {
    width: 70%;
    height: 200px;
    float: left;
}

.blog-img {
    width: 30%;
    height: 200px;
    float: left;
}

.blog-content {
    width: 100%;
    margin: 5px;
}

.blog-profile {
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    float: left;
}

.thumbnail {
    width: 100%;
}

.blog-text {
    font-size: 12px; 
    color: gray
}