.container{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.header{
    width: 100%;
    height: 50px;
    background: grey;
}

.footer{
    width: 100%;
    height: 100px;
    background: blue;
    clear: both;
}

.content{
    width: 70%;
    height: 200px;
    float: left;
}

.blog-img{
    width: 30%;
    height: 200px;
    float: left;
}

.blog-content{
    width: 100%;
    margin: 5px;
}

.blog-profile{
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    float: left;
}

.thumbnail{
    width: 100%;
}

.blog-text{
    font-size: 12px; 
    color: gray;
}

.navbar li{
    display: inline-block;
    width: 60px;
    text-align: center;
    background: #eee;
    padding: 10px;
    border-radius: 5px;
}
.navbar li>a{
    font-size: 18px;
    text-decoration: none;
}


div, input, textarea {
    box-sizing: border-box;
}

body {
    margin:0px;
}

.form-background {
    padding: 30px;
    background-color: black;
}

.form-white {
    background-color: white;
    padding: 30px;
    width: 80%;
    max-width: 600px;
    margin: auto;
}

.form-input {
    width: 100%;
    padding: 10px;
    font-size: 15px;
    border: 1px solid black;
    border-radius: 5px;
}

.form-button {
    padding: 10px;
    border: none;
    background: orange;
    color: white;
    display: block;
    margin-left: auto;
}

.w-50 {
    width: 50%;
    float: left;
    padding: 10px;
}

.w-100 {
    padding: 10px;
}