div, input, textarea {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: 'good-font';
}

html {
    line-height: 1.15;
}

.main-background {
    width: 100%;
    height: 500px;
    background-image: url(../img/cat02.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 1px;
}

.main-title {
    color: white;
    font-size: 40px;
    text-align: center;
    margin: 15px;
}
.main-title p {
    font-size: 20px;
}

.main-button {
    padding: 15px;
    font-size: 20px;
    background: white;
    border: none;
    border-radius: 5px;
    position: relative;
    top: 100px;
    z-index: 5;
}

.sub-background {
    width: 550px;
    height: 150px;
    background: #eee;
    border-radius: 10px;
    margin: auto;
    position: relative;
    top: -70px;
    padding: 10px;
    text-align: center;
    z-index: 1;
}
.sub-background p {
    font-size: 14px;
}

.sub-background2 {
    width: 70%;
    max-width: 550px;
    height: 150px;
    background: #eee;
    border-radius: 10px;
    margin: auto;
    position: relative;
    top: -120px;
    padding: 10px;
    text-align: center;
    z-index: 1;
    box-sizing: border-box;
}

.text-input[type=text] {
    padding: 10px;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 5px;
}

.form-background {
    padding: 30px;
    background-color: black;
}

.form-white {
    background-color: white;
    padding: 30px;
    width: 80%;
    max-width: 600px;
    margin: auto;
}

.form-input {
    width: 100%;
    padding: 10px;
    font-size: 15px;
    border: 1px solid black;
    border-radius: 5px;
}

.form-button {
    padding: 10px;
    border: none;
    background: orange;
    color: white;
    display: block;
    margin-left: auto;
}

.w-50 {
    width: 50%;
    float: left;
    padding: 10px;
}

.w-100 {
    padding: 10px;
}

@font-face {
    font-family: 'good-font';
    src: url(../font/NanumSquare/NanumSquareR.ttf);
}