/* CSS selector */

.profile {
    width: 200px;
    border-radius: 50%;
    margin-left: auto; 
    margin-right: auto; 
    display: block;
}

.title {
    font-size: 26px;
    letter-spacing: 1px;
    text-align: center;
}

.font-red {
    color: red; 
    letter-spacing: 2px;
}

/* [class selector] */
.test {
    text-align: center;
    color: red;
}

/* [tag selector] 모든 <p> 태그의 스타일 */
p {
    text-align: center;
    color: blue;
}

/* [id selector] id에 style 적용 (.class 사용을 권장) */
#special {
    text-align: center;
    color: green;
}